#menuBtn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 999;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 180px;
  height: 100%;
  background: #222;
  padding: 20px;
  transition: 0.3s;
}

#sidebar.open {
  left: 0;
}

#sidebar a {
  display: block;
  color: white;
  margin-bottom: 15px;
  text-decoration: none;
}
