body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  margin-bottom: 20px;
}

nav a {
  padding: 10px 14px;
  background: #ffffff;
  border-radius: 8px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 14px;
  background: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
