#sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  width: 180px;
  background: #222;
  padding: 20px;
  transition: 0.3s;
}

#sidebar.open {
  left: 0;
}

#sidebar a {
  display: block;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
}

#sidebar > a:nth-child(1) {
  margin-top: 45px;
}

#menuBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

#app {
  padding-top: 60px; /* space for the menu button */
}

.dark-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}
